[submodule "SuperGluePretrainedNetwork"]
	path = SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "octomap_mapping_stickyNAV"]
	path = octomap_mapping_stickyNAV
	url = git@github.com:KXRLYM/octomap_mapping_stickyNAV.git
