[submodule "SuperGluePretrainedNetwork"]
	path = SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "octomap_mapping"]
	path = octomap_mapping
	url = git@github.com:OctoMap/octomap_mapping.git
